main {
  min-height: 90vh;
}

body {
  background-color: #f4f4f4 !important;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

h3 {
  padding: 0.5rem 0;
}

@media (max-width: 767px) {
  .productsListItem {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.searchBar {
  background-color: white;
  border-radius: 255px 25px 225px 25px/25px 225px 25px 255px;
  padding: 5px;
  width: 300px;
}

.searchBarInput {
  border: none;
  width: 80%;
}

.searchBarInput:focus {
  outline: none;
}

.carousel img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 400px;
}

@media (max-width: 900px) {
  .carousel-caption h2 {
    font-size: 2.5vw;
  }
}

@media (max-width: 400px) {
  .carousel img {
    height: 250px;
  }
}

@media (max-width: 991px) {
  .searchBar {
    margin-top: 10px;
    width: 100%;
  }

  .searchBarInput {
    width: 90%;
  }
}
